<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.ReassignTaskMapper">

    <resultMap id="TReassignTaskInfoResult" type="TReassignTaskInfo">
        <result property="reassignTaskNo" column="REASSIGN_TASK_NO"/>
        <result property="reassignType" column="REASSIGN_TYPE"/>
        <result property="applicant" column="APPLICANT"/>
        <result property="reassignUser" column="REASSIGN_USER"/>
        <result property="taskTotal" column="TASK_TOTAL"/>
        <result property="reassignReason" column="REASSIGN_REASON"/>
        <result property="reassignDate" column="REASSIGN_DATE"/>
        <result property="reassignStartDate" column="REASSIGN_START_DATE"/>
        <result property="reassignEndDate" column="REASSIGN_END_DATE"/>
        <collection property="reassignTaskDetails" ofType="com.skyon.project.system.domain.ferghana.TReassignTaskDetail">
            <result property="uuid" column="uuid"/>
            <result property="reassignTaskNo" column="REASSIGN_TASK_NO"/>
            <result property="taskInfoNo" column="TASK_INFO_NO"/>
            <result property="custNo" column="CUST_NO"/>
            <result property="custName" column="CUST_NAME"/>
            <result property="taskType" column="TASK_TYPE"/>
            <result property="beforeUser" column="BEFORE_USER"/>
            <result property="newUser" column="NEW_USER"/>
        </collection>
    </resultMap>


    <select id="getReassignTaskList" resultType="list" resultMap="TReassignTaskInfoResult">
        select * from T_REASSIGN_TASK_INFO s
        left join t_reassign_task_detail d on s.REASSIGN_TASK_NO = d.REASSIGN_TASK_NO
    </select>

    <select id="getReassignTaskByReassignTaskNo" parameterType="String" resultMap="TReassignTaskInfoResult">
        select * from T_REASSIGN_TASK_INFO s
        left join t_reassign_task_detail d on s.REASSIGN_TASK_NO = d.REASSIGN_TASK_NO
        where s.REASSIGN_TASK_NO = #{reassignTaskNo}
    </select>

    <select id="getUnReassignTaskList" resultType="map">
        select s.task_info_no,s.cust_no,s.cust_name,u.user_name,r.role_name from DP_AP_task_info s
        left join  act_ru_execution d on s.task_info_no = d.business_key_
        left join act_ru_task f on d.proc_inst_id_ = f.proc_inst_id_
        left join sys_user u on f.assignee_ = u.user_id
        left join sys_user_role ur on u.user_id = ur.user_id
        left join sys_role r on ur.role_id = r.role_id
        where (u.user_name is not null)
    </select>



    <insert id="insertRessignTaskByArtificial" parameterType="TReassignTaskInfo">
        insert into T_REASSIGN_TASK_INFO (
            <if test="reassignTaskNo != null">REASSIGN_TASK_NO,</if>
            <if test="reassignType != null">REASSIGN_TYPE,</if>
            <if test="applicant != null">APPLICANT,</if>
            <if test="reassignUser != null">REASSIGN_USER,</if>
            <if test="taskTotal != null">TASK_TOTAL,</if>
            <if test="reassignReason != null">REASSIGN_REASON,</if>
            <if test="reassignStartDate != null">REASSIGN_START_DATE,</if>
            <if test="reassignEndDate != null">REASSIGN_END_DATE,</if>
            reassign_Date
        ) values (
            <if test="reassignTaskNo != null">#{reassignTaskNo},</if>
            <if test="reassignType != null">#{reassignType},</if>
            <if test="applicant != null">#{applicant},</if>
            <if test="reassignUser != null">#{reassignUser},</if>
            <if test="taskTotal != null">#{taskTotal},</if>
            <if test="reassignReason != null">#{reassignReason},</if>
            <if test="reassignDate != null">#{reassignDate},</if>
            <if test="reassignStartDate != null">#{reassignStartDate},</if>
            <if test="reassignEndDate != null">#{reassignEndDate},</if>
            sysdate
        )
    </insert>




</mapper>