<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.SignalManualMapper">


    <select id="getSignalManualList" resultType="map">
        SELECT T1.CUST_NAME,T2.ADMIN_USER_NAME,T2.ADMIN_ORG_NAME,to_char(T1.INPUT_DT,'yyyy-MM-dd') as INPUT_DT,
        T1.IS_WARN_FLAG,T1.SIGNAL_NO,T2.ADMIN_BRANCH_NAME,
        T1.CUST_NO,T2.IS_TOL_AUTH,T1.CREATE_NAME FROM DC_AP_SIGNAL_MANUAL T1
		 LEFT JOIN DC_AP_CUST_INFO T2 on T1.CUST_NO=T2.CUST_NO
		 where IS_WARN_FLAG = '1'
    </select>


</mapper>