<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TBondInfoMapper">


    <resultMap id="TBondInfoResult" type="TBondInfo">
        <id property="bondInfoID" column="bond_info_ID"/>
        <result property="taskInfoNo" column="task_Info_No"/>
        <result property="bondName" column="bond_Name"/>
        <result property="bondGroupName" column="bond_Group_Name"/>
        <result property="bondGroupType" column="bond_Group_Type"/>
        <result property="bondEndDate" column="bond_End_Date"/>
        <result property="balance" column="balance"/>
    </resultMap>


    <insert id="insertTBondInfo" parameterType="ArrayList" useGeneratedKeys = "false">
        insert into t_bond_info(bond_info_ID,task_Info_No,bond_Name,bond_Group_Name,bond_Group_Type,bond_End_Date,balance)
        select T_BOND_INFO_SEQUENCE.nextval as bond_info_ID,A.* from (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.taskInfoNo,jdbcType=BIGINT} as task_Info_No,
            #{item.bondName,jdbcType=VARCHAR} as bond_Name,
            #{item.bondGroupName,jdbcType=VARCHAR} as bond_Group_Name,
            #{item.bondGroupType,jdbcType=VARCHAR} as bond_Group_Type,
            #{item.bondEndDate,jdbcType=VARCHAR} as bond_End_Date,
            #{item.balance,jdbcType=VARCHAR} as balance
            from dual
        </foreach>
        )A

    </insert>

</mapper>