<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.TReassignTaskDetailMapper">


<!--    <if test="taskType != null">task_type,</if>-->
<!--    <if test="beforeUser != null">before_User,</if>-->
<!--    <if test="newUser != null">new_User,</if>-->

<!--    <if test="taskType != null">#{item.taskType,jdbcType=VARCHAR} as task_Type,</if>-->
<!--    <if test="beforeUser != null">#{item.beforeUser,jdbcType=VARCHAR} as before_User,</if>-->
<!--    <if test="newUser != null">#{item.newUser,jdbcType=VARCHAR} as new_User,</if>-->



    <insert id="insertReassignTaskDetails" parameterType="ArrayList" useGeneratedKeys = "false">
        insert into t_reassign_task_detail(REASSIGN_TASK_NO,TASK_INFO_NO,CUST_NO,CUST_NAME,task_type,before_User,new_User,

            uuid
        )
        (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            select
            #{item.reassignTaskNo,jdbcType=VARCHAR} as REASSIGN_TASK_NO,
            #{item.taskInfoNo,jdbcType=VARCHAR} as TASK_INFO_NO,
            #{item.custNo,jdbcType=VARCHAR} as CUST_NO,
            #{item.custName,jdbcType=VARCHAR} as CUST_NAME,
            #{item.taskType,jdbcType=VARCHAR} as task_Type,
            #{item.beforeUser,jdbcType=VARCHAR} as before_User,
            #{item.newUser,jdbcType=VARCHAR} as new_User,
            #{item.uuid,jdbcType=VARCHAR} as uuid
            from dual
        </foreach>
        )

    </insert>

</mapper>