<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.WTaskInfoMapper">


    <resultMap id="WTaskInfoResultAlone" type="com.skyon.project.system.domain.ferghana.WTaskInfo">
        <id property="taskInfoNo" column="TASK_INFO_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="custName" column="CUST_NAME"/>
        <result property="queueId" column="queue_Id"/>
        <result property="queueName" column="queue_Name"/>
        <result property="publishDepartment" column="publish_Department"/>
        <result property="testSubType" column="TEST_SUB_TYPE"/>
        <result property="oneNum" column="ONE_NUM"/>
        <result property="twoNum" column="TWO_NUM"/>
        <result property="threeNum" column="THREE_NUM"/>
        <result property="branch" column="BRANCH"/>
        <result property="nextBranch" column="NEXT_BRANCH"/>
        <result property="doneDate" column="DONE_DATE"/>
        <result property="status" column="run_STATUS"/>
        <result property="limits" column="LIMITS"/>
        <result property="riskLevel" column="risk_Level"/>
        <result property="isManualInput" column="is_Manual_Input"/>
        <result property="custManager" column="cust_Manager"/>

        <result property="riskTime" column="RISK_TIME"/>
        <result property="warnRiskLevel" column="WARN_RISK_LEVEL"/>
        <result property="ruleLevel" column="RULE_LEVEL"/>
        <result property="scoreLevel" column="SCORE_LEVEL"/>
        <result property="signalSource" column="SIGNAL_SOURCE"/>
        <result property="channel" column="channel"/>
        <result property="riskCustNum" column="risk_cust_num"/>

        <result property="cardNum" column="CARD_NUM" />
        <result property="custTel" column="CUST_TEL" />
        <result property="riskComfType" column="RISK_COMF_TYPE" />
        <result property="riskValue" column="risk_value" />
        <result property="personalRiskLevel" column="PERSONAL_RISK_LEVEL" />
        <result property="checkResult" column="CHECK_RESULT" />

        <result property="isProprietary" column="is_Proprietary"/>

    </resultMap>

    <resultMap id="WTaskInfoResult" type="WTaskInfo">
        <id property="taskInfoNo" column="TASK_INFO_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="custName" column="CUST_NAME"/>
        <result property="queueId" column="queue_Id"/>
        <result property="queueName" column="queue_Name"/>
        <result property="publishDepartment" column="publish_Department"/>
        <result property="testSubType" column="TEST_SUB_TYPE"/>
        <result property="oneNum" column="ONE_NUM"/>
        <result property="twoNum" column="TWO_NUM"/>
        <result property="threeNum" column="THREE_NUM"/>
        <result property="branch" column="BRANCH"/>
        <result property="nextBranch" column="NEXT_BRANCH"/>
        <result property="doneDate" column="DONE_DATE"/>
        <result property="status" column="STATUS"/>
        <result property="limits" column="LIMITS"/>
        <result property="riskLevel" column="risk_Level"/>
        <result property="isManualInput" column="is_Manual_Input"/>
        <result property="custManager" column="cust_Manager"/>
        <result property="isProprietary" column="is_Proprietary"/>
        <result property="riskCustNum" column="risk_cust_num"/>
        <result property="channel" column="channel"/>
        <result property="cardNum" column="CARD_NUM" />
        <result property="custTel" column="CUST_TEL" />
        <result property="riskComfType" column="RISK_COMF_TYPE" />
        <result property="riskValue" column="risk_value" />
        <result property="personalRiskLevel" column="PERSONAL_RISK_LEVEL" />
        <result property="checkResult" column="CHECK_RESULT" />
        <collection property="bondInfoList" ofType="com.skyon.project.system.domain.eye.TBondInfo">
            <id property="bondInfoID" column="bond_info_ID"/>
            <result property="taskInfoNo" column="task_Info_No"/>
            <result property="bondName" column="bond_Name"/>
            <result property="bondGroupName" column="bond_Group_Name"/>
            <result property="bondGroupType" column="bond_Group_Type"/>
            <result property="bondEndDate" column="bond_End_Date"/>
            <result property="balance" column="balance"/>
        </collection>
    </resultMap>
	
	<select id="getWTaskInfoByList1" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info
        where TASK_INFO_NO in
        <foreach collection="collection" item="set" open="(" close=")" separator=",">
            #{set}
        </foreach>
        and role = '预警认定'
    </select>
    <select id="getWTaskInfoByList2" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info
        where TASK_INFO_NO in
        <foreach collection="list" item="list" open="(" close=")" separator=",">
            #{list}
        </foreach>
        and role = '跟踪反馈'
    </select>
    <select id="getWTaskInfoByList3" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info
        where TASK_INFO_NO in
        <foreach collection="list" item="list" open="(" close=")" separator=",">
            #{list}
        </foreach>
        and role = '解除申请'
    </select>

    <select id="getWTaskInfoListByRole" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info where role = #{role} and run_status = '01' and is_Proprietary = '0'
    </select>

    <select id="selectWTaskInfoByCustNo" resultType="WTaskInfo" resultMap="WTaskInfoResultAlone">
        select * from w_task_info where CUST_NO = #{custNo}
    </select>

    <select id="getWTaskInfoListByManual" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info where is_manual_input='1'
    </select>

    <select id="selectAllTaskInfoNo" resultType="String">
        select TASK_INFO_NO from w_task_info
    </select>


    <select id="getWTaskInfoListManualByCustNo" resultType="WTaskInfo" resultMap="WTaskInfoResult">
        select * from w_task_info t
        left join t_bond_info s on t.task_info_no = s.task_info_no
        where t.is_manual_input='1' and t.cust_no = #{custNO}
    </select>

    <select id="selectIsProprietary" resultType="String">
        select TASK_INFO_NO from w_task_info t
        where run_status = '01' and is_Proprietary = '1'
    </select>

    <select id="selectIsNoProprietary" resultType="String">
        select TASK_INFO_NO from w_task_info t
        where run_status = '01' and is_Proprietary = '2'
    </select>

    <update id="updateRunStatusByNo" parameterType="String">
        update w_task_info set
        <if test="riskValue != null || riskValue != ''">risk_value=#{riskValue},</if>
        <if test="personalRiskLevel != null">PERSONAL_RISK_LEVEL=#{personalRiskLevel},</if>
        <if test="checkResult != null">CHECK_RESULT=#{checkResult},</if>
        run_status = '02'
         where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <update id="updateRunStatusByNoAndTrack" parameterType="String">
        update w_task_info set run_status = '02' where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <update id="celarRunStatusByNo" parameterType="String">
        update w_task_info set run_status = '01' where TASK_INFO_NO = #{taskInfoNo}
    </update>

    <insert id="insertWTaskInfo" parameterType="WTaskInfo" >
        <selectKey  keyColumn="TASK_INFO_NO" keyProperty="taskInfoNo" resultType="long" order="BEFORE">
            select w_task_info_sequence.nextval from dual
        </selectKey>
        insert into w_task_info (TASK_INFO_NO,cust_Name,cust_No,branch,cust_Manager,is_manual_input)
        values (w_task_info_sequence.nextval,#{custName},#{custNo},#{branch},#{custManager},#{isManualInput})
    </insert>



</mapper> 