<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.DpRmMonUnPriProTotalMapper">
	

    <resultMap id="DpRmMonUnPriProTotalResult" type="com.skyon.project.system.domain.eye.DpRmMonUnPriProTotal">

        <result property="orgCode" column="org_code"/>
        <result property="analyTime" column="analy_time"/>
        <result property="unPriProRedRiskNum" column="un_pri_pro_red_risk_num"/>
        <result property="unPriProRedRiskCustNum" column="un_pri_pro_red_risk_cust_num"/>
        <result property="unPriProOraRiskNum" column="un_pri_pro_ora_risk_num"/>
        <result property="unPriProOraRiskCustNum" column="un_pri_pro_ora_risk_cust_num"/>
        <result property="unPriProYelRiskNum" column="un_pri_pro_yel_risk_num"/>
        <result property="unPriProYelRiskCustNum" column="un_pri_pro_yel_risk_cust_num"/>

    </resultMap>
	
	<select id="selectDpRmMonUnPriProTotal" parameterType="String"
            resultType="DpRmMonUnPriProTotal" resultMap="DpRmMonUnPriProTotalResult">
  select org_code,sum(UN_PRI_PRO_RED_RISK_NUM) as UN_PRI_PRO_RED_RISK_NUM,
  sum(UN_PRI_PRO_RED_RISK_CUST_NUM) as UN_PRI_PRO_RED_RISK_CUST_NUM,
  sum(UN_PRI_PRO_ORA_RISK_NUM) as UN_PRI_PRO_ORA_RISK_NUM,
  sum(UN_PRI_PRO_ORA_RISK_CUST_NUM) as UN_PRI_PRO_ORA_RISK_CUST_NUM,
  sum(UN_PRI_PRO_YEL_RISK_NUM) as UN_PRI_PRO_YEL_RISK_NUM,
  sum(UN_PRI_PRO_YEL_RISK_CUST_NUM) as UN_PRI_PRO_YEL_RISK_CUST_NUM  from (
        select * from DP_RM_MON_UN_PRI_PRO_PRE
        where to_char(analy_time,'yyyy-MM') <![CDATA[<=#{date} ]]>
        union
        select * from DP_RM_MON_UN_PRI_PRO_MIC
        where to_char(analy_time,'yyyy-MM') <![CDATA[<=#{date} ]]>
        )group by org_code
    </select>




</mapper> 