<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.DtCustRiskAssetFrzAMapper">
	

    <resultMap id="DtCustRiskAssetFrzAResult" type="DtCustRiskAssetFrzA">
        <result property="lpOrgNo" column="LP_ORG_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="custName" column="CUST_NAME"/>

        <result property="eventName" column="event_name"/>
        <result property="beFrzAmt" column="be_frz_amt"/>
        <result property="beginDt" column="begin_dt"/>
        <result property="caseNum" column="case_num"/>
        <result property="frzStopDt" column="frz_stop_dt"/>
        <result property="execAdviseDocNum" column="exec_advise_doc_num"/>
        <result property="contentOutline" column="content_outline"/>

        <result property="etlTimestamp" column="ETL_TIMESTAMP"/>
        <result property="partYmd" column="PART_YMD"/>
        <result property="partYm" column="PART_YM"/>
        <result property="monitorType" column="MONITOR_TYPE"/>
    </resultMap>
	
	<select id="selectDtCustRiskAssetFrzA" parameterType="String" resultType="DtCustRiskAssetFrzA" resultMap="DtCustRiskAssetFrzAResult">
        select * from DT_CUST_RISK_ASSET_FRZ_A
        where cust_no = #{custNo}
    </select>




</mapper> 