<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.DpApCompanyInfoMapper">


    <resultMap id="DpApCompanyInfoResult" type="com.skyon.project.system.domain.eye.DpApCompanyInfo">
        <result property="lpOrgNo" column="LP_ORG_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="custName" column="CUST_NAME"/>
        <result property="foundDt" column="FOUND_DT"/>
        <result property="rgstCap" column="RGST_CAP"/>
        <result property="belongBank" column="BELONG_BANK"/>
        <result property="eigenCode" column="EIGEN_CODE"/>
        <result property="custType" column="CUST_TYPE"/>
        <result property="orgnzCd" column="ORGNZ_CD"/>
        <result property="rgstAddr" column="RGST_ADDR"/>
        <result property="addr" column="ADDR"/>
        <result property="legalRep" column="LEGAL_REP"/>
        <result property="actlCtrler" column="ACTL_CTRLER"/>
        <result property="operRange" column="OPER_RANGE"/>
        <result property="belongBrch" column="BELONG_BRCH"/>
        <result property="custMgr" column="CUST_MGR"/>
        <result property="custMgrTel" column="CUST_MGR_TEL"/>
        <result property="etlDt" column="ETL_DT"/>
        <result property="etlTimestamp" column="ETL_TIMESTAMP"/>
        <result property="partYmd" column="PART_YMD"/>
        <result property="partYm" column="PART_YM"/>
        <result property="monitorType" column="MONITOR_TYPE"/>
    </resultMap>

	<select id="getDpApCompanyInfoByNo" parameterType="String" resultType="DpApCompanyInfo" resultMap="DpApCompanyInfoResult">
        select * from DP_AP_company_INFO
        where cust_no = #{custNo}
    </select>




</mapper> 