<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyon.project.system.mapper.eye.DtTyDpApCustIncidRelaWMapper">
	

    <resultMap id="DtTyDpApCustIncidRelaWResult" type="DtTyDpApCustIncidRelaW">
        <result property="lpOrgNo" column="LP_ORG_NO"/>
        <result property="custNo" column="CUST_NO"/>
        <result property="custName" column="CUST_NAME"/>

        <result property="incidRela" column="incid_rela"/>
        <result property="relaParty" column="rela_party"/>
        <result property="relaType" column="rela_type"/>
        <result property="riskFlag" column="risk_flag"/>

        <result property="etlTimestamp" column="ETL_TIMESTAMP"/>
        <result property="partYmd" column="PART_YMD"/>
        <result property="partYm" column="PART_YM"/>
        <result property="monitorType" column="MONITOR_TYPE"/>
    </resultMap>
	
	<select id="selectDtTyDpApCustIncidRelaW" parameterType="String"
            resultType="DtTyDpApCustIncidRelaW" resultMap="DtTyDpApCustIncidRelaWResult">
        select * from DT_TY_DP_AP_CUST_INCID_RELA_W
        where cust_no = #{custNo}
    </select>




</mapper> 